# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Environment variables - IMPORTANTE: No subir el .env
.env
.env.local
.env.production
*.csv

# Archivos del sistema
.DS_Store
Thumbs.db
desktop.ini

# Archivos de IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
logs/

# Archivos temporales
*.tmp
*.temp

# Archivos batch de Windows (opcional, si no quieres subirlos)
*.bat
*.pkl
*.csv